.sidebar_chat {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  cursor: pointer;
}

.sidebarChat_info {
  margin-left: 15px;
  position: relative;
  width: 100%;
}

.sidebarChat_info > small {
  position: absolute;
  top: 5px;
  right: 0;
}

.sidebar_chat:hover {
  background-color: rgb(35, 35, 233);
  color: white;
}

.totalMessages {
  font-size: small;
}
