.sidebar_header {
  display: flex;
  align-items: center;
  padding: 10px;
  height: 50px;
}

.sidebar_avatar {
  cursor: pointer;
  margin: 10px;
}

.sidebar_input {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  background-color: #e1e1e1;
  color: gray;
  border-radius: 5px;
}

.sidebar_input > input {
  border: none;
  background: transparent;
  outline-width: 0;
}

.sidebar_inputButton:hover {
  color: rgb(35, 35, 233);
}
